body{ background-image: url(https://media0.giphy.com/media/CT2VGut4qO8i3MFBgD/giphy.gif?cid=ecf05e47cob1o2q1i7f7vaefsgejp4ord0s7cfn5ox48i11p&ep=v1_gifs_search&rid=giphy.gif&ct=g);
    background-repeat: no-repeat;
    background-size: cover;        
}

a{
    font-size: 25px;
}

i{
    font-size: 25px;
}